$goldColor: #d49d43;
$normalTextColor: #101010;
$textColor: #777777;
$accentTextColor: #f58689;
$secondaryBackgroundColor: #1b1b1b;
$lightBackgroundColor: rgba(255, 255, 255, 0.9);

:root {
  --mdc-theme-primary: $goldColor;
  --mdc-theme-secondary: $accentTextColor;
  //--mdc-theme-background: #010304;
  --mdc-typography-font-family: 'Jost', sans-serif;
  --mdc-layout-grid-margin-desktop: 0;
}

html, body {
  height: 100%;
  width: 100%;
  overflow: auto;
  color: $textColor;
}
body {
  margin: 0;
  display: flex;
  -webkit-overflow-scrolling: touch;
}
body > .mdc-layout-grid {
  width: 100%;
  margin: 0;
  padding: 0;
}
body > .mdc-layout-grid > .mdc-layout-grid__inner {
  height: 100vh;
  grid-gap: 0;
}
a {
  color: $textColor;
}

.mdc-drawer {
  overflow: initial;
}
.mdc-drawer .mdc-drawer__header {
  text-align: center;
  padding-top: 16px;
}
.mdc-drawer .mdc-drawer__header img {
  width: 224px;
}
.mdc-drawer .mdc-drawer__title {
  color: $goldColor;
  font-size: 42px;
  font-family: 'Sacramento', cursive;
}
.mdc-drawer .mdc-drawer__subtitle {
  color: $accentTextColor;
  font-size: 10px;
  letter-spacing: 8px;
  margin-top: 8px;
}
.mdc-drawer .mdc-list {
  margin: 32px;
}
.mdc-drawer .mdc-list-item.efy-list-item--active,
.mdc-drawer .efy-list-item--active .mdc-list-item__graphic{
  color: $accentTextColor;
}
.mdc-drawer .mdc-list-item__graphic {
  color: $goldColor;
  font-size: 24px;
}
.mdc-drawer .mdc-list-item__graphic svg {
  width: 100%;
}
.mdc-drawer .mdc-list-item {
  color: $goldColor;
}
.mdc-list-divider {
  border-bottom-color: $goldColor;
}
.mdc-drawer__footer {
  text-align: center;
}
.mdc-drawer__footer .mdc-drawer__social a {
  color: $goldColor;
  font-size: 0;
  line-height: 0;
  padding: 5px;
}
.mdc-drawer__footer .mdc-drawer__social svg {
  width: 22px;
}
.mdc-drawer__footer .mdc-drawer__credits {
  font-size: 10px;
}

.efy-main-content {
  padding: 25px 50px 50px 50px;
}
.efy-main-content h1 {
  color: $goldColor;
  text-align: center;
}
.efy-main-content .efy-about-me__catchphrase {
  text-align: center;
  font-size: 200%;
  word-spacing: 2px;
  padding: 100px;
}
.efy-about-me__image {
  width: 80%;
  margin: 10%
}
.efy-about-me__text {
  font-size: 130%;
}

.efy-post-list__item {
  display: block;
  position: relative;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.efy-post-list__image-aspect-container {
  position: relative;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-bottom: 66.66667%;
}
.efy-post-list__image {
  position: absolute;
  width: 100%;
  height: 100%;
}
.efy-post-list__supporting {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: $lightBackgroundColor;
}
.efy-post-list__supporting .efy-post-list__title,
.efy-post-list__supporting .efy-post-list__summary {
  padding: 0 20px;
}
.efy-post-list__supporting .efy-post-list__title {
  color: $goldColor;
}
.efy-post-list__supporting .efy-post-list__date {
  float: right;
  font-size: 16px;
  color: #777;
}

.efy-blog-entry-content .efy-blog-entry-content__image {
  margin-top: 25px;
  width: 100%;
}
.efy-blog-entry-content .efy-blog-entry-content__title {
  text-align: left;
}
.efy-blog-entry-content .efy-blog-entry-content__date {
  float: right;
  font-size: 16px;
  color: #777;
}

.efy-footer-phone {
  display: none;
}

@media(max-width: 840px) {
  .efy-header .mdc-drawer__header {
    padding-bottom: 32px;
  }
  .efy-header .mdc-drawer__content {
    display: none;
  }
  .efy-header .mdc-drawer__footer {
    display: none;
  }


  .efy-main-content {
    margin: 25px;
  }
  .efy-main-content h1,
  .efy-main-content .efy-about-me__catchphrase {
    padding: 0;
  }

  .efy-post-list__supporting .efy-post-list__date {
    display: block;
    float: none;
  }
  .efy-post-list__supporting .efy-post-list__title {
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
  }
  .efy-post-list__supporting .efy-post-list__summary {
    display: none;
  }

  .efy-blog-entry-content .efy-blog-entry-content__date {
    display: block;
    float: none;
  }

  .efy-footer-phone {
    display: flex;
  }
  .efy-footer-phone .mdc-list-item {
    justify-content: center;
  }
  .efy-footer-phone .mdc-list-item__text {
    width: 60px;
    text-align: center;
  }
}
