{{ define "main" }}
<h1>{{ .Page.Title }}</h1>

<div class="mdc-layout-grid ">
    <div class="mdc-layout-grid__inner">
        {{ range .Pages.ByDate.Reverse }}
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--align-middle mdc-layout-grid__cell--span-6-desktop mdc-layout-grid__cell--span-8-tablet">
            <a class="efy-post-list__item" href="{{.Permalink}}">
                <div class="efy-post-list__image-aspect-container">
                    <img class="efy-post-list__image" alt="{{ .Title }}" src="/{{ path.Join "blog" .Params.image }}">
                </div>
                <div class="efy-post-list__supporting">
                    <h2 class="efy-post-list__title mdc-typography--headline5">{{ .Title }}<span class="efy-post-list__date">{{.Date.Format "Jan 2, 2006"}}</span></h2>
                    <p class="efy-post-list__summary">{{.Params.summary}}</p>
                </div>
            </a>
        </div>
        {{ end }}
    </div>
    <div class="mdc-layout-grid__inner">
    </div>
</div>
{{ end }}